body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    text-align: center;
    color: #2c3e50;
    font-weight: 600;
    margin-top: 20px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* 컬럼 너비를 동일하게 설정 */
}

th, td {
    border: none;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

td {
    background-color: #ecf0f1;
    border-bottom: 1px solid #bdc3c7;
    cursor: pointer; /* 커서가 포인터로 변함 */
}

tr:last-child td {
    border-bottom: none;
}

tr:hover td {
    background-color: #d5dae0;
}

td a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

td a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    table, th, td {
        font-size: 14px;
        padding: 8px;
    }
}

/* 프로그래스 바 스타일 */
.progress-container {
    margin-top: 40px;
    text-align: center;
    width: 90%;
    max-width: 1000px;
    background-color: #fff; /* 배경색 흰색으로 설정 */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

.progress-bar {
    width: 80%;
    background-color: #ecf0f1;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

.progress-bar-inner {
    background-color: #3498db;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; /* 퍼센트 값에 따라 변경될 예정 */
    transition: width 0.4s ease;
}

/* 프로그래스 바 중앙에 글씨를 배치하는 스타일 */
.progress-bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px; /* 프로그래스 바 높이와 동일하게 맞춤 */
    color: black; /* 텍스트를 검정색으로 설정 */
    font-weight: bold;
}
.info-text {
    text-align: center;
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 10px;
}