<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원 상세 정보</title>
    <link rel="stylesheet" href="/css/admin/adminReportInfo.css">
</head>

<body>
<div class="container">
    <h1>민원 상세 정보</h1>

    <div class="section">
        <h2>제목</h2>
        <p th:text="${report.title}">제목 정보</p>
    </div>

    <div class="section">
        <h2>작성자</h2>
        <p th:text="${report.user.name}">작성자 이름</p>
    </div>

    <div class="section">
        <h2>내용</h2>
        <div class="content">
            <p th:text="${report.content}">내용 정보</p>
        </div>
    </div>

    <button onclick="location.href='/admin/home'">돌아가기</button>
</div>
</body>
</html>