<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 필요한 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 부팅 완료 권한 추가 -->

    <!-- 카메라 하드웨어 필수 여부 설정 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Promise"
        android:usesCleartextTraffic="true">

        <!-- SplashActivity를 앱의 시작 액티비티로 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity 설정 -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- LoginActivity 설정 -->
        <activity android:name=".LoginActivity" android:exported="true" />

        <!-- SettingsActivity 설정 -->
        <activity android:name=".SettingsActivity" android:exported="true"/>

        <!-- HistoryActivity 설정 -->
        <activity android:name=".HistoryActivity" android:exported="true"/>

        <!-- ReportActivity 설정 -->
        <activity android:name=".ReportActivity" android:exported="true"/>

        <!-- 알람 리시버 설정 -->
        <receiver android:name=".utils.AlarmReceiver" />

        <!-- 부팅 완료 시 알람을 다시 설정하기 위한 리시버 설정 -->
        <receiver android:name=".utils.BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- FileProvider 설정: 사진 촬영 등에서 파일 URI를 공유하기 위해 필요 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
